In [2]:
import pandas as pd
import geopandas as gpd

In [4]:
BGE = pd.read_csv(r'.\data\allBGE_geom.csv')
allnorth = pd.read_csv(r'.\do_not_push\allallnorth_stops_geom.csv')
center = pd.read_csv(r'.\do_not_push\allcentral_stops_geom.csv')

C:\Users\brine\miniconda3\envs\musa-550-fall-2021\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (0,23,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
len(BGE)

4238

In [7]:
len(allnorth)

571069

In [8]:
len(center)

352401

# Finding Some Stats 
#### BGE compared to center city, three north divisions, and city-wide

In [46]:
## ONS 
centralTotalAvgOns = center["Avg. Ons"].sum()
allnorthTotalAvgOns = allnorth["Avg. Ons"].sum()
bgeTotalAvgOns = BGE["Avg. Ons"].sum()
centralAvgAvgOns = center["Avg. Ons"].mean()
allnorthAvgAvgOns = allnorth["Avg. Ons"].mean()
bgeAvgAvgOns = BGE["Avg. Ons"].mean()

centralAvgOns = center["Avg. Ons"]
allnorthAvgOns = allnorth["Avg. Ons"]
BGEAvgOns = BGE["Avg. Ons"]

centralMaxAvgOns = centralAvgOns.max()
allnorthMaxAvgOns = allnorthAvgOns.max()
BGEMaxAvgOns = BGEAvgOns.max()

centralMinAvgOns = centralAvgOns.min()
allnorthMinAvgOns = allnorthAvgOns.min()
BGEMinAvgOns = BGEAvgOns.min()

In [47]:
## OFFS
centralTotalAvgoffs = center["Avg. Offs"].sum()
allnorthTotalAvgOffs = allnorth["Avg. Offs"].sum()
bgeTotalAvgOffs = BGE["Avg. Offs"].sum()
centralAvgAvgoffs = center["Avg. Offs"].mean()
allnorthAvgAvgOffs = allnorth["Avg. Offs"].mean()
bgeAvgAvgOffs = BGE["Avg. Offs"].mean()

centralAvgOffs = center["Avg. Offs"]
allnorthAvgOffs = allnorth["Avg. Offs"]
BGEAvgOffs = BGE["Avg. Offs"]

centralMaxAvgOffs = centralAvgOffs.max()
allnorthMaxAvgOffs = allnorthAvgOffs.max()
BGEMaxAvgOffs = BGEAvgOffs.max()

centralMinAvgOffs = centralAvgOffs.min()
allnorthMinAvgOffs = allnorthAvgOffs.min()
BGEMinAvgOffs = BGEAvgOffs.min()

In [59]:
## COUNTS 
centralcount = center["cleanstop_name"].drop_duplicates().count()
allnorthcount = allnorth["cleanstop_name"].drop_duplicates().count()
BGEcount = BGE["cleanstop_name"].drop_duplicates().count()

centralTripcount = center["Trip Code"].drop_duplicates().count()
allnorthTripcount = allnorth["Trip Code"].drop_duplicates().count()
BGETripcount = BGE["Trip Code"].drop_duplicates().count()

In [61]:
allnorthTripcount

18606

In [54]:
summer = pd.read_csv(r'.\do_not_push\All_Routes_Trip_Summary_Summer2021.csv')
fall = pd.read_csv(r'.\do_not_push\City_Trip_Summary_Fall2021.csv')

C:\Users\brine\miniconda3\envs\musa-550-fall-2021\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [55]:
allstops = pd.concat([summer,fall])

In [64]:
allstops = allstops.rename(columns = {'Stop Seq.': 'StopSeq'}) 
print("done")

done

In [65]:
import re
regex = re.compile('[^a-zA-Z]')

In [66]:
stopseq = []
for stop in allstops.StopSeq: 
    newstop = re.sub("[^a-zA-Z]+", "", stop)
    stopseq.append(newstop)
print("done")

done

In [67]:
allstops["stop_name"] = stopseq
print("done")

done

In [79]:
## ONS
ALLTotalAvgOns = allstops["Avg. Ons"].sum()
ALLAvgAvgOns = allstops["Avg. Ons"].mean()

ALLAvgOns = allstops["Avg. Ons"]

ALLMaxAvgOns = ALLAvgOns.max()
ALLMinAvgOns = ALLAvgOns.min()

## OFFS
ALLTotalAvgOffs = allstops["Avg. Offs"].sum()
ALLAvgAvgOffs = allstops["Avg. Offs"].mean()

ALLAvgOffs = allstops["Avg. Offs"]


ALLMaxAvgOffs = ALLAvgOffs.max()
ALLMinAvgOffs = ALLAvgOffs.min()

## COUNTS
ALLcount = allstops["stop_name"].drop_duplicates().count()
ALLTripcount = allstops["Trip Code"].drop_duplicates().count()

In [80]:
# initialize list of lists
data = [['BGE', 
         BGEcount, 
         BGETripcount,
         bgeTotalAvgOns, 
         bgeTotalAvgOffs, 
         bgeAvgAvgOns, 
         bgeAvgAvgOffs, 
         BGEMaxAvgOns, 
         BGEMaxAvgOffs],
        ['central', 
         centralcount, 
         centralTripcount,
         centralTotalAvgOns, 
         centralTotalAvgoffs, 
         centralAvgAvgOns, 
         centralAvgAvgoffs, 
         centralMaxAvgOns, 
         centralMaxAvgOffs], 
        ['allnorth', 
         allnorthcount, 
         allnorthTripcount,
         allnorthTotalAvgOns, 
         allnorthTotalAvgOffs, 
         allnorthAvgAvgOns, 
         allnorthAvgAvgOffs, 
         allnorthMaxAvgOns, 
         allnorthMaxAvgOffs],
       ['city wide', 
         ALLcount, 
         ALLTripcount,
         ALLTotalAvgOns, 
         ALLTotalAvgOffs, 
         ALLAvgAvgOns, 
         ALLAvgAvgOffs, 
         ALLMaxAvgOns, 
         ALLMaxAvgOffs]]
  

    
    
# Create the pandas DataFrame
summary = pd.DataFrame(data, columns = ['Area', 
                                        'Number of Unique Stops Included', 
                                        'Trip Count',
                                        'Total Avg Ons', 
                                        'Total Avg Offs', 
                                        'Mean Avg Ons', 
                                        'Mean Avg Offs',
                                        'Max Avg Ons',
                                        'Max Avg Offs'])
  
# print dataframe.
summary

,Area,Number of Unique Stops Included,Trip Count,Total Avg Ons,Total Avg Offs,Mean Avg Ons,Mean Avg Offs,Max Avg Ons,Max Avg Offs
0,BGE,10,3378,7180.861149,8073.052679,1.694399,1.904920,26.0,45.0
1,central,4349,18054,131225.681104,128479.027937,0.372376,0.364582,36.0,39.5
2,allnorth,3626,18606,190971.999801,193388.060779,0.334411,0.338642,50.0,51.0
3,city wide,8616,40264,814638.701512,816831.925985,0.293624,0.294415,60.0,51.0

In [81]:
summary.to_csv("summary.csv", index=False)

# Now looking at differences among stops in BGE

In [82]:
BGE.head()

,Route,Direction,Pattern,Trip,Trip Code,Trip Type,Stop Code,StopSeq,Avg. Ons,Avg. Offs,...,Sch. Run Time,Act. Run Time,Run Dev,stop_namestop_name,stop_id,stop_namecleanstop_name,stop_lat,stop_lon,category,cleanstop_name
0,16,Southbound,S1,[04:41] 8550076,8550076,Revenue,29964st,(043) - Broad St & Erie Av,0.727273,1.272727,...,00:03:29,00:00:48,-00:00:41,BroadStErieAv,31613.0,Germantown Av & Erie Av,40.009403,-75.150954,intersection,GermantownAvErieAv
1,16,Southbound,S1,[04:41] 8671329,8671329,Revenue,29964st,(043) - Broad St & Erie Av,0.750000,1.000000,...,00:00:38,00:00:25,-00:00:13,BroadStErieAv,31613.0,Germantown Av & Erie Av,40.009403,-75.150954,intersection,GermantownAvErieAv
2,16,Southbound,S1,[05:06] 8550077,8550077,Revenue,29964st,(043) - Broad St & Erie Av,0.500000,1.100000,...,00:00:38,00:00:33,-00:00:05,BroadStErieAv,21261.0,Erie Av & Germantown Av,40.009233,-75.150671,intersection,ErieAvGermantownAv
3,16,Southbound,S1,[05:06] 8671330,8671330,Revenue,29964st,(043) - Broad St & Erie Av,0.200000,1.400000,...,00:00:38,00:00:25,-00:00:13,BroadStErieAv,21261.0,Erie Av & Germantown Av,40.009233,-75.150671,intersection,ErieAvGermantownAv
4,16,Southbound,S1,[05:25] 8550080,8550080,Revenue,29964st,(043) - Broad St & Erie Av,0.600000,1.400000,...,00:00:38,00:00:37,-00:00:01,BroadStErieAv,30285.0,Broad St & Erie Av - FS,40.009395,-75.151107,intersection,BroadStErieAvFS

In [93]:
BGEstopAvgAvg = BGE.groupby(by = "cleanstop_name", as_index=False).mean()
BGEstopAvgAvg = BGEstopAvgAvg[["cleanstop_name", "Avg. Ons", "Avg. Offs", "stop_lat", "stop_lon"]]
BGEstopAvgAvg = BGEstopAvgAvg.rename(columns = {"Avg. Ons":"Overall Mean Avg. Ons", "Avg. Offs":"Overall Mean Avg. Offs"})

In [94]:
BGEstopAvgAvg.head()

,cleanstop_name,Overall Mean Avg. Ons,Overall Mean Avg. Offs,stop_lat,stop_lon
0,BroadStErieAv,1.434641,1.264706,40.009368,-75.151261
1,BroadStErieAvFS,0.300000,0.866667,40.009395,-75.151107
2,ErieAvBroadSt,2.180556,1.027778,40.009208,-75.151439
3,ErieAvBroadStHFS,1.991071,1.035714,40.009406,-75.152053
4,ErieAvBroadStXHFS,2.023077,1.146154,40.009360,-75.151722

In [95]:
BGEstopcountAvg =  BGE.groupby(by = "cleanstop_name", as_index=False).sum()
BGEstopcountAvg = BGEstopcountAvg[["cleanstop_name", "Avg. Ons", "Avg. Offs",]]
BGEstopcountAvg = BGEstopcountAvg.rename(columns = {"Avg. Ons":"Total Avg. Ons", "Avg. Offs":"Total Avg. Offs"})

In [96]:
BGEstopStats  = BGEstopcountAvg.merge(BGEstopAvgAvg, on="cleanstop_name", how="inner")

In [98]:
BGEstopStats

,cleanstop_name,Total Avg. Ons,Total Avg. Offs,Overall Mean Avg. Ons,Overall Mean Avg. Offs,stop_lat,stop_lon
0,BroadStErieAv,2.869281,2.529412,1.434641,1.264706,40.009368,-75.151261
1,BroadStErieAvFS,0.600000,1.733333,0.300000,0.866667,40.009395,-75.151107
2,ErieAvBroadSt,4.361111,2.055556,2.180556,1.027778,40.009208,-75.151439
3,ErieAvBroadStHFS,3.982143,2.071429,1.991071,1.035714,40.009406,-75.152053
4,ErieAvBroadStXHFS,4.046154,2.292308,2.023077,1.146154,40.009360,-75.151722
5,ErieAvElderStFS,6.880952,4.000000,3.440476,2.000000,40.009053,-75.149844
6,ErieAvGermantownAv,0.700000,2.500000,0.350000,1.250000,40.009233,-75.150671
7,ErieStationBSL,1.859244,4.960084,0.464811,1.240021,40.009234,-75.151203
8,GermantownAvBroadSt,3.057692,2.903846,1.528846,1.451923,40.010136,-75.151187
9,GermantownAvErieAv,2.057105,3.995416,0.514276,0.998854,40.009211,-75.150807

#### export

In [138]:
BGEstopStats.to_csv("BGEStopStats.csv", index=False)

# Now looking at differences among stops in NORTH

In [113]:
NOstopAvgAvg = allnorth.groupby(by = "cleanstop_name", as_index=False).mean()
NOstopAvgAvg = NOstopAvgAvg[["cleanstop_name", "Avg. Ons", "Avg. Offs", "stop_lat", "stop_lon"]]
NOstopAvgAvg = NOstopAvgAvg.rename(columns = {"Avg. Ons":"Overall Mean Avg. Ons", "Avg. Offs":"Overall Mean Avg. Offs"})

In [114]:
NOstopcountAvg =  allnorth.groupby(by = "cleanstop_name", as_index=False).sum()
NOstopcountAvg = NOstopcountAvg[["cleanstop_name", "Avg. Ons", "Avg. Offs",]]
NOstopcountAvg = NOstopcountAvg.rename(columns = {"Avg. Ons":"Total Avg. Ons", "Avg. Offs":"Total Avg. Offs"})

In [115]:
NOstopStats  = NOstopcountAvg.merge(NOstopAvgAvg, on="cleanstop_name", how="inner")

In [116]:
NOstopStats.head()

,cleanstop_name,Total Avg. Ons,Total Avg. Offs,Overall Mean Avg. Ons,Overall Mean Avg. Offs,stop_lat,stop_lon
0,AbbottDrOpp,0.500000,0.357143,0.500000,0.357143,39.960287,-75.335847
1,AbbottDrSussexBlvd,2.833333,0.285714,1.416667,0.142857,39.959103,-75.340501
2,AcademyRdGrantAvFS,1.925000,0.000000,0.962500,0.000000,40.069027,-75.007883
3,AcademyRdOutlookAv,0.235294,0.235294,0.235294,0.235294,40.059875,-75.009403
4,AdamsRdAdamsCr,0.666667,0.333333,0.666667,0.333333,40.108736,-74.923006

#### export

In [136]:
NOstopStats.to_csv("NorthStopStats.csv", index=False)

# Now looking at differences among stops in CENTER

In [109]:
CNstopAvgAvg = center.groupby(by = "cleanstop_name", as_index=False).mean()
CNstopAvgAvg = CNstopAvgAvg[["cleanstop_name", "Avg. Ons", "Avg. Offs", "stop_lat", "stop_lon"]]
CNstopAvgAvg = CNstopAvgAvg.rename(columns = {"Avg. Ons":"Overall Mean Avg. Ons", "Avg. Offs":"Overall Mean Avg. Offs"})

In [110]:
CNstopcountAvg =  center.groupby(by = "cleanstop_name", as_index=False).sum()
CNstopcountAvg = CNstopcountAvg[["cleanstop_name", "Avg. Ons", "Avg. Offs",]]
CNstopcountAvg = CNstopcountAvg.rename(columns = {"Avg. Ons":"Total Avg. Ons", "Avg. Offs":"Total Avg. Offs"})

In [111]:
CNstopStats  = CNstopcountAvg.merge(CNstopAvgAvg, on="cleanstop_name", how="inner")

In [112]:
CNstopStats.head()

,cleanstop_name,Total Avg. Ons,Total Avg. Offs,Overall Mean Avg. Ons,Overall Mean Avg. Offs,stop_lat,stop_lon
0,AbbottDrOpp,0.0,0.333333,0.0,0.333333,39.960287,-75.335847
1,AbbottsfordAvFoxSt,0.1,0.100000,0.1,0.100000,40.014236,-75.178178
2,AbbottsfordAvHenryAvFS,1.0,0.272727,1.0,0.272727,40.011655,-75.181910
3,AbbottsfordAvHenryAvMBFS,0.3,0.000000,0.3,0.000000,40.012865,-75.180145
4,AcademyRdAmityRd,0.0,0.300000,0.0,0.150000,40.083301,-74.991656

#### export

In [137]:
CNstopStats.to_csv("CenterStopStats.csv", index=False)

# Now looking at differences among stops CITYWIDE

#### first getting lat and long

In [119]:
allseptabus = pd.read_csv(r'.\data\septa_bus_stops_all.csv')

In [120]:
stopseq3 = []
for stop in allseptabus.stop_name: 
    newstop = re.sub("[^a-zA-Z]+", "", stop)
    stopseq3.append(newstop)
print('done')

done

In [121]:
allseptabus["cleanstop_name"] = stopseq3

In [123]:
allstopsgeom = allstops.join( allseptabus, rsuffix= "cleanstop_name", lsuffix = "stop_name")
print("done")

done

In [127]:
allstopsgeom.head()

,Unnamed: 0,Route,Direction,Pattern,Trip,Trip Code,Trip Type,Stop Code,StopSeq,Avg. Ons,...,stop_namecleanstop_name,stop_lat,stop_lon,location_type,parent_station,zone_id,wheelchair_boarding,the_geom,the_geom_2272,cleanstop_name
0,1.0,1,Northbound,N08,[05:13] 8548782,8548782,Revenue,4st,(001) - Roosevelt Blvd & Broad St - FS,9.696970,...,Roosevelt Blvd & Comly Rd,40.105172,-75.001575,NaN,NaN,1.0,1.0,0101000020E6100000705F07CE19C052C03B3AAE46760D...,0101000020E0080000705F07CE19C052C03B3AAE46760D...,RooseveltBlvdComlyRd
0,NaN,1,Northbound,N08,[05:13] 8670224,8670224,Revenue,4st,(001) - Roosevelt Blvd & Broad St - FS,9.000000,...,Roosevelt Blvd & Comly Rd,40.105172,-75.001575,NaN,NaN,1.0,1.0,0101000020E6100000705F07CE19C052C03B3AAE46760D...,0101000020E0080000705F07CE19C052C03B3AAE46760D...,RooseveltBlvdComlyRd
1,2.0,1,Northbound,N08,[05:13] 8548782,8548782,Revenue,22406st,(002) - Roosevelt Blvd & 9th St,2.303030,...,Roosevelt Blvd & Solly Av - FS,40.058873,-75.045067,NaN,NaN,1.0,1.0,0101000020E61000003FC8B260E2C252C007CF84268907...,0101000020E00800003FC8B260E2C252C007CF84268907...,RooseveltBlvdSollyAvFS
1,NaN,1,Northbound,N08,[05:13] 8670224,8670224,Revenue,22406st,(002) - Roosevelt Blvd & 9th St,2.235294,...,Roosevelt Blvd & Solly Av - FS,40.058873,-75.045067,NaN,NaN,1.0,1.0,0101000020E61000003FC8B260E2C252C007CF84268907...,0101000020E00800003FC8B260E2C252C007CF84268907...,RooseveltBlvdSollyAvFS
2,3.0,1,Northbound,N08,[05:13] 8548782,8548782,Revenue,23308st,(003) - Roosevelt Blvd & Wyoming Av,0.000000,...,Roosevelt Blvd & Cottman Av,40.044862,-75.054530,NaN,NaN,1.0,1.0,0101000020E6100000A8A9656B7DC352C0A56ABB09BE05...,0101000020E0080000A8A9656B7DC352C0A56ABB09BE05...,RooseveltBlvdCottmanAv

### quick export all stop geom

In [134]:
allstopsgeom.to_csv("allstops_geom.csv", index=False)

In [129]:
CitystopAvgAvg = allstopsgeom.groupby(by = "stop_namecleanstop_name", as_index=False).mean()
CitystopAvgAvg = CitystopAvgAvg[["stop_namecleanstop_name", "Avg. Ons", "Avg. Offs", "stop_lat", "stop_lon"]]
CitystopAvgAvg = CitystopAvgAvg.rename(columns = {"Avg. Ons":"Overall Mean Avg. Ons", "Avg. Offs":"Overall Mean Avg. Offs"})

In [130]:
CitystopcountAvg =  allstopsgeom.groupby(by = "stop_namecleanstop_name", as_index=False).sum()
CitystopcountAvg = CitystopcountAvg[["stop_namecleanstop_name", "Avg. Ons", "Avg. Offs",]]
CitystopcountAvg = CitystopcountAvg.rename(columns = {"Avg. Ons":"Total Avg. Ons", "Avg. Offs":"Total Avg. Offs"})

In [131]:
CitystopStats  = CitystopcountAvg.merge(CitystopAvgAvg, on="stop_namecleanstop_name", how="inner")

In [132]:
CitystopStats.head()

,stop_namecleanstop_name,Total Avg. Ons,Total Avg. Offs,Overall Mean Avg. Ons,Overall Mean Avg. Offs,stop_lat,stop_lon
0,10 Campus Blvd - FS,0.111111,0.000000,0.055556,0.000000,39.976832,-75.416319
1,1000 Tinicum Island Rd,0.181818,1.113636,0.090909,0.556818,39.870136,-75.270830
2,1000 Tinicum Island Rd - MBNS,0.294118,0.000000,0.147059,0.000000,39.871082,-75.271347
3,10th & Main St,0.333333,0.100000,0.166667,0.050000,40.193253,-75.529552
4,10th Av & Church St,0.400000,2.066667,0.200000,1.033333,40.194020,-75.530418

#### export

In [135]:
CitystopStats.to_csv("AllStopStats.csv", index=False)